:root {
  --green: #1fd612;
  --graybg: #f8f9fa;
  --graydark: #393e46;
  --graybtn: #343a40;
}
body {
  background-color: var(--graybg);
  font-size: 16px;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

#logo:hover {
  color: var(--green);
  font-weight: bold;
}

#banner-home {
  background-color: var(--graydark);
}

#link-banner {
  text-decoration: none;
  background-color: var(--graybtn);
  color: white;
  width: 50%;
  transition: width, 1s;
}
#link-banner:hover {
  background-color: white;
  color: var(--graybtn);
  border: 2px solid currentColor;
  width: 60%;
}

.section-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-page h1 {
  font-size: 3rem;
  padding-bottom: 30px;
}
.section-page h2 {
  font-size: 2rem;
  text-align: center;
}

#section-carousel p {
  text-align: justify;
  line-height: 30px;
  padding-top: 20px;
}
#section-about .card-body p {
  text-align: justify;
  padding: 10%;
}

#section-about a {
  background-color: var(--graybtn);
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#section-about a:hover {
  color: var(--graybtn);
  background-color: white;
  border: 2px solid currentColor;
}
.icon-section-about {
  font-size: 3rem;
}

#section-carousel {
  background-color: var(--graydark);
}

#section-contact input,
textarea {
  width: 80%;
}

footer,
.menu-footer li {
  background-color: black;
}

.menu-footer a {
  color: white;
  text-decoration: none;
}

.menu-footer li {
  color: white;
}

.menu-footer a:hover {
  color: var(--green);
}

.banner-page {
  margin: 100px 0 70px 0;
  color: white;
  padding: 10px;
  background-color: black;
}

.banner-page h1 {
  font-size: 4em;
}

.separator {
  content: "";
  width: 80%;
  margin: 50px 10%;
  height: 2px;
  background-color: #ced4da;
}

#section-contact input,
#section-contact textarea,
#section-contact button {
  width: 100%;
}

#section-contact button {
  margin-top: 20px;
}
#section-contact label {
  font-weight: bold;
}

#copyright {
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 1em;
}

#copyright a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/*The most typicall screens*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*...;*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*...;*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*...;*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*...;*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*...;*/
}
