body {
  background-color: #f8f9fa;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

#logo:hover {
  color: #1fd612;
  font-weight: bold;
}

#banner-home {
  background-color: #393e46;
}

#link-banner {
  text-decoration: none;
  background-color: #343a40;
  color: white;
  width: 50%;
}
#link-banner:hover {
  background-color: white;
  color: #343a40;
  border: 2px solid #343a40;
  width: 60%;
}

.section-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-page h1 {
  font-size: 3em;
  padding-bottom: 30px;
}
.section-page h2 {
  font-size: 2em;
  text-align: center;
}

#section-carousel p {
  text-align: justify;
  line-height: 30px;
  padding-top: 20px;
}
#section-about .card-body p {
  text-align: justify;
  padding: 10%;
}

#section-about a {
  background-color: #343a40;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#section-about a:hover {
  color: #343a40;
  background-color: white;
  border: 2px solid #343a40;
}
.icon-section-about {
  font-size: 3em;
}

#section-carousel {
  background-color: #393e46;
}

#section-contact input,
textarea {
  width: 80%;
}

footer,
.menu-footer li {
  background-color: black;
}

.menu-footer a {
  color: white;
  text-decoration: none;
}

.menu-footer a:hover {
  color: #1fd612;
}
